*{margin:0;padding:0}
body{font-family:Arial,"Microsoft YaHei","宋体",sans-serif;color:#b2b2b2;background-color: #f2f2f2;font-size:13px;font-weight: normal;display: none;}
ul,li{list-style-type:none;}
body a{color:#787878;text-decoration:none;cursor: pointer;font-size: 14px;}
body a:hover{color:#00af95;}
body a:visited{color:#787878;}
img {border:0;-ms-interpolation-mode: bicubic;}
button{cursor: pointer;}
input,button{outline: 0 none;resize:none;}
input,textarea,select,button{outline: none;}

/*公用的类*/
.disNone{display: none;}

@media (min-width: 751px) {
    .app-h,.app-m,.index-d .title .info{display: none;}

    /*首页头部*/
    .index-h .cont{width: 1140px;height: 618px;margin: 0 auto;overflow: hidden;position: relative;}
    .index-h .text{float: left;width: 440px;padding-top: 72px;font-weight: bold;}
    .index-h .text .h1{color: #fff;font-size: 95px;}
    .index-h .text .h1 p{font-size: 55px;}
    .index-h .text .down{width:260px;height: 80px;background-image: url(../img/head-down.png);cursor: pointer;margin-top: 60px;}
    .index-h .animate{width: 700px;float: left;height: 100%;position: relative;}
    .index-h .animate .big{position: absolute;top:68px;left: 68px;width:403px;height: 330px;background-image: url(../img/animate/animate-big.png);}
    .index-h .animate .xmin{position: absolute;top:282px;left: 306px;}
    .index-h .animate .xmid{position: absolute;top:264px;left: 344px;}
    .index-h .animate .xbig{position: absolute;top:210px;left: 372px;}
    .index-h .animate .cm{position: absolute;bottom: -226px;right: 0;width:422px;height: 226px;background-image: url(../img/animate/animate-cm.png);}
    .index-h .animate .min{position: absolute;bottom:54px;left: 29px;}

    /*首页中部*/
    .index-m-bg{height: 960px;background-color: #fff;min-width: 1140px;}
    .index-m{width: 1140px;height: 960px;margin: 0 auto;}
    .index-m .show{float: left;width: 476px;height: 855px;margin: 105px 20px 0;background-image: url(../img/index-big.png);}
    .index-m .show .img{width: 430px;height: 759px;margin-top: 96px;margin-left: 23px;overflow: hidden;position: relative;}
    .index-m .show .img img{position: absolute;left: 0px;top: 0px;}
    .index-m .text{width: 550px;float: right;padding-top: 250px;}
    .index-m .text .tit{position: relative;height: 200px;overflow: hidden;}
    .index-m .text .tit .h{position: absolute;left: 0;width: 100%;}
    .index-m .text .tit .h2{top: 0;color: #0d0c0c;font-size: 64px;}
    .index-m .text .tit .h3{top: 104px;color: #b2b2b2;font-size: 17px;}
    .index-m .cont{margin-top: 95px;}
    .index-m .cont li{float: left;width: 120px;margin-right: 10px;text-align: center;}
    .index-m .cont li .img{width: 120px;height: 120px;}
    .index-m .cont li .pic{display: inline-block;width: 100px;height: 100px;border-radius: 100px;margin-top: 10px;cursor: pointer;background-color: #dadada;transition: 0.5s;}
    .index-m .cont li .pic span{display: block;width: 100%;height: 100%;}
    .index-m .cont li .pic .li1{background: url(../img/animate/normal-1.png) center center no-repeat;}
    .index-m .cont li .pic .li2{background: url(../img/animate/normal-2.png) center center no-repeat;}
    .index-m .cont li .pic .li3{background: url(../img/animate/normal-3.png) center center no-repeat;}
    .index-m .cont li .pic .li4{background: url(../img/animate/normal-4.png) center center no-repeat;}

    .index-m .cont li.hover p{color: #1edc78;}
    .index-m .cont li.hover .pic{width: 120px;height: 120px;margin-top: 0px;background-color: #0d0c0c;}
    .index-m .cont li.hover .pic .li1{background: url(../img/animate/hover-1.png) center center no-repeat;}
    .index-m .cont li.hover .pic .li2{background: url(../img/animate/hover-2.png) center center no-repeat;}
    .index-m .cont li.hover .pic .li3{background: url(../img/animate/hover-3.png) center center no-repeat;}
    .index-m .cont li.hover .pic .li4{background: url(../img/animate/hover-4.png) center center no-repeat;}


    /*兼容ie6-ie8*/
    /*@media \0screen\,screen\9{*/
        /*.index-m .cont li .pic{*/
            /*position:relative;z-index:2;behavior: url(lib/ie-css3.htc);*/
        /*}*/
    /*}*/

    .index-m .cont li p{color: #c3c3c3;margin-top: 20px;}

    /*下载一栏*/
    .index-d{width: 1100px;margin: 100px auto;padding: 0 20px;}
    .index-d .title{width: 100%;height: 310px;background-color: #1edc78;border-radius: 8px 8px 0 0;position: relative;}
    .index-d .title .icon{position: absolute;top: 0;left: 0;}
    .index-d .title .img{position: absolute;top: 85px;left: 475px;}
    .index-d .title .cont{float: right;color: #0d0c0c;font-size: 32px;line-height: 310px;width: 435px;}

    .index-d .li{height: 400px;background-color: #fff;border-radius:8px;margin-bottom: 20px;}
    .index-d .li.te{border-radius: 0 0 8px 8px;}
    .index-d .li .erweima{float: left;width: 220px;height:220px;padding: 90px 95px 90px 130px;}
    .index-d .li .erweima img{width: 100%;height:100%;}

    .index-d .li .cont{float: left;width: 600px;padding-top: 114px;}
    .index-d .li .cont .h1{height: 60px;margin-bottom: 25px;}
    .index-d .li .cont .h1 .pic{float: left;width: 60px;height: 60px;}
    .index-d .li .cont .h1 h2{float: left;height: 60px;line-height: 60px;margin-left: 30px;font-weight: normal;font-size: 40px;color: #0d0c0c;}
    .index-d .li .cont .h2{line-height: 30px;padding-left: 5px;color: #b2b2b2;font-size: 17px;margin-bottom: 28px;}
}

@media (max-width: 750px) {
    .index-h,.index-m-bg,.index-d .title .cont,.index-d .li .cont .p{display: none;}

    /*头部*/
    .app-h{background-image: url(../img/app/head-line.jpg);position: relative;}
    .app-h .img img{width:100%;display: block;}
    .app-h .down{position: absolute;top: 29.5%;left: 32.5%;width: 35%;padding-top: 11.2%;cursor: pointer;}

    .app-m{background-color: #fff;overflow: hidden;}
    .app-m .tit{margin: 12% 8%;background-color: #fff;overflow: hidden;}
    .app-m .tit .img{float: left;width: 35%;}
    .app-m .tit .img img{width:100%;}
    .app-m .tit .info{float: left;width: 56%;position: relative;overflow: hidden;padding: 34% 0 0 8%;}
    .app-m .tit .info .con{position: absolute;top: 0;left: 8%;}
    .app-m .tit .dt{font-size: 5.5vmin;color: #1edc78;margin: 8% 0 6%;}
    .app-m .tit .dd{font-size: 3.5vmin;}
    .app-m .btn{padding: 1% 0;text-align: center;clear: both;overflow: hidden;}
    .app-m .btn li{padding: 1%;background-color: #dadada;display: inline-block;margin-left: 1%;border-radius: 100%;cursor: pointer;}
    .app-m .btn li.active{background-color: #6d6d6d;}
    .app-m .show{margin: 5% 15% 0;width: 70%;position: relative;}
    .app-m .show img{width: 100%;display: block;}
    .app-m .show .imgcont{position: absolute;top: 11.5%;left: 4.9%;width: 90.2%;height: 88.5%;overflow: hidden;}
    .app-m .show .imgcont img{position: absolute;top: 0;left: 0;}

    .index-d{width: 90%;margin: 15% 5% 10%;}
    .index-d img{width: 100%;display: block;}
    .index-d .title{position: relative;border-radius: 8px 8px 0 0;padding: 8% 0;background-color: #1edc78;overflow: hidden;}
    .index-d .title .icon{position: absolute;width: 14%;top: 0;left: 0;}
    .index-d .title .img{width: 18.5%;margin-left: 25%;float: left;}
    .index-d .title .info{margin:3.5% 0 0 5.7%;float: left;font-size: 4vmin;color: #0d0c0c;font-weight: bold}
    .index-d .title .info span{font-size: 3vmin;font-weight: normal;}

    .index-d .li{border-radius: 8px;background-color: #fff;margin-bottom: 3%;padding: 13% 0;}
    .index-d .li.te{border-radius: 0 0 8px 8px;}
    .index-d .li .erweima{width: 30%;margin:0 0 8% 35%;}
    .index-d .li .h1{text-align: center;}
    .index-d .li .h1 .pic{float: left;width: 8.5%;margin-left: 35%;}
    .index-d .li .h1 h2{float: left;margin-left: 3%;font-size: 5.2vmin;font-weight: normal;}
    .index-d .li .h2{clear: both;text-align: center;padding: 5% 8% 0;font-size: 3.5vmin;}
}

/*导航栏*/
.index-h{height: 720px;background-image: url(../img/navbg-line.png);min-width: 1140px;}
.navbg{height: 102px;background-color: #0d0c0c;min-width: 1140px;}
.nav{height: 102px;width: 1140px;margin: 0 auto;}
.nav .logo{width: 180px;height: 64px;float: left;margin-top: 19px;background-image: url(../img/logo.png);cursor: pointer;}
.nav .li{float: left;line-height: 50px;height: 50px;margin-top: 26px;padding:0 45px;color: #fff;font-size: 16px;background: url(../img/navli-line.jpg) left center no-repeat;cursor: pointer;}
.nav .li.hover{color: #1edc78;}
.nav .li.first{background: none;}

/*底部*/
.footer{background-color: #fff;height: 80px;line-height: 85px;text-align: center;color: #c3c3c3;}

/*公司动态*/
.dynamic-c{width: 1000px;margin: 40px auto 120px;padding: 30px 70px;background-color: #fff;}
.dynamic-c .group{padding: 50px 0;border-top: 1px solid #ececec;}
.dynamic-c .group.first{border-top: none;}
.dynamic-c .group .tit{color:#0d0c0c;font-size: 25px;margin-bottom: 25px;cursor: pointer;}
.dynamic-c .group .time{font-size: 15px;margin-bottom: 15px;}
.dynamic-c .group .cont{font-size: 15px;line-height: 25px;}
.dynamic-c .group .img{padding: 25px;text-align: center;}

/*公司动态详情*/
.dynamic-c .h1{height: 50px;line-height: 50px;padding: 0 12px;font-size: 15px;border-bottom: 1px solid #ececec;}
.dynamic-c .h1 .a{font-size: 15px;color: #b2b2b2;margin-right: 10px;}
.dynamic-c .h1 a:hover{color: #00af95;}
.dynamic-c .h1 .right{float: right;}
.dynamic-c .h1 .right a{text-decoration: underline;}

/*关于我们*/
.aboutAsbg{background-color: #fff;margin-bottom: 120px;min-width: 1140px;}
.aboutAs{width: 980px;padding: 100px 80px 300px;margin: 0 auto;}
.aboutAs .h1{color: #bcf1d0;font-size: 75px;}
.aboutAs .line{width: 30px;height: 1px;background-color: #0d0c0c;margin: 30px 0;}
.aboutAs .tit{color: #0d0c0c;font-size: 26px;}
.aboutAs .cont{font-size: 15px;margin-top: 75px;line-height: 25px;}
.aboutAs .cont p{text-indent: 2em;margin: 1em 0;color: #555;font-size: 16px;font-family: "Hiragino Sans GB","Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica;}

/*英才招聘*/
.aboutAs .deliver{margin: 75px 0 15px;font-size: 16px;}
.aboutAs .deliver span{color: #0d0c0c;font-size: 25px;margin-left: 10px;}
.aboutAs .group{margin-top: 60px;}
.aboutAs .group .dt{height: 30px;line-height: 30px;padding-left: 30px;background: url(../img/join-dian.png) 10px center no-repeat;color: #0d0c0c;}
.aboutAs .group .dt .h2{font-size: 19px;float: left;}
.aboutAs .group .dt .h3{font-size: 15px;float: left;margin-left: 18px;line-height: 33px;}
.aboutAs .group .dd{margin-top: 10px;font-size: 16px;line-height: 25px;}
.aboutAs .dd .lis{margin: 1em 0;color: #777;font-size: 14px;font-family: "Hiragino Sans GB","Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica;}
.aboutAs .dd ol{padding-left: 2em;}
.aboutAs .dd li{list-style-type:decimal;margin: 1em 0;}

/*商务合作*/
.collaborate{padding-bottom: 100px;}
.collaborate .address{width: 980px;margin-top: 75px;}
.collaborate .address .img{width: 100%;height: 500px;}
.collaborate .address .info{margin-top: 30px;font-size: 15px;line-height: 28px;}
.collaborate .service{margin-top: 65px;height: 88px;}
.collaborate .service .img{float: left;width: 88px;height: 88px;}
.collaborate .service .con{float: left;height: 88px;margin-left: 30px;}
.collaborate .service p{font-size: 15px;line-height: 20px;}
.collaborate .service p.phone{color: #0d0c0c;font-size: 25px;line-height: 48px;}