<!doctype html>
<html>
<head>
    <title>鲜檬旅拍-关于我们</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico" />
    <link rel="stylesheet" href="../css/main.css"/>
    <script src="../lib/require.js"></script>
    <script src="../js/web.js"></script>
    <script>
        require(['jquery','js/gobal'],function($,gobal){
            gobal.navdata();
            gobal.setnavhover(2);
        })
    </script>
</head>
<body>
    <div class="navbg">
        <div class="nav">
            <div class="logo"></div>
        </div>
    </div>

    <div class="aboutAsbg">
        <div class="aboutAs">
            <div class="h1">About Us</div>
            <div class="line"></div>
            <div class="tit">关于我们</div>
            <div class="cont">
                <p>我们有一个梦想，就是让所有婚纱摄影从业者都能以创业的心态去工作，让他们不需要为影楼或者工作室的五斗米而折腰。让所有新郎新娘能以最合适的价格得到最合适的婚纱照和最满意的服务。</p>
                <p>鲜檬旅拍是摄影精英的汇聚地，我们记录最闪亮的瞬间。</p>

                <p>我们是一群有理想的青年，立志改变世界实现梦想。</p>

                <p>你加入的不只是一家公司，这里比家更温暖，充满梦想和远大的志向，这里是保存和创造美的地方。</p>

                <p>鲜檬旅拍通过O2O的模式，实现线上移动互联网平台和线下摄影基地相结合，线上平台为用户快速便捷高质量的服务，让用户直接面向摄影团队，去除中间环节，节省拍摄成本。线下摄影基地作为自由摄影团队的坚实后盾，提供接洽，摄影器材，婚纱，化妆，景点，技术培训以及后期制作等一切影楼能提供或者不能提供的服务。</p>

                <p>加入我们吧。放下行装，带上梦想，我们一起去实现她。</p>
            </div>
        </div>
    </div>
</body>
</html>