<!doctype html>
<html>
<head>
    <title>鲜檬旅拍-商务合作</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico" />
    <link rel="stylesheet" href="../css/main.css"/>
    <script src="../lib/require.js"></script>
    <script src="../js/web.js"></script>
    <script>
        require(['jquery','js/gobal'],function($,gobal){
            gobal.navdata();
            gobal.setnavhover(4);
        })
    </script>
</head>
<body>
<div class="navbg">
    <div class="nav">
        <div class="logo"></div>
    </div>
</div>

<div class="aboutAsbg">
    <div class="aboutAs collaborate">
        <div class="h1">Business Cooperation</div>
        <div class="line"></div>
        <div class="tit">商务合作</div>
        <div class="address">
            <div class="img">
                <img src="../img/address.jpg">
            </div>
            <div class="info">
                地址：广东省广州市天河区 五山路141-2号尚德大厦A1302<br>
                电话：020-28142288    邮箱：info@simoo.cn
            </div>
        </div>
        <div class="service">
            <div class="img"><img src="../img/service.jpg"></div>
            <div class="con">
                <p>客服热线</p>
                <p class="phone">020-28142288</p>
                <p>周一至周五 10:00-18:00，其他法定节假日除外</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>