<!doctype html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico" />
    <link rel="stylesheet" href="../css/main.css"/>
    <script src="../lib/require.js"></script>
    <script src="../js/web.js"></script>
    <script>
        require(['jquery','js/gobal'],function($,gobal){
            document.title = gobal.titleName+'-三星称新一代 Tizen 电视将更安全';
            gobal.navdata();
            gobal.setnavhover(1);
        })
    </script>
</head>
<body>
    <div class="navbg">
        <div class="nav">
            <div class="logo"></div>
        </div>
    </div>

    <div class="dynamic-c">
        <div class="h1">
            <a class="a" href="dynamic.html">返回</a>
            <span class="a">公司动态</span>
            <div class="right">
                <a class="a" href="dynamic.html">下一篇</a>
                <span class="a">Mac 版 Twitter 终于更新了</span>
            </div>
        </div>
        <div class="group first">
            <div class="tit">三星称新一代 Tizen 电视将更安全</div>
            <div class="time">2015-12-31</div>
            <div class="cont">来年三星旗下的智能电视将会有着各种强劲功能，除了之前预告会支持控制智能家居设备，今天还表示会预载 Gaia 安全软件，为其 Tizen 智能电视带来像 Knox 一样的保护。使用者的信用卡资料将会有 PIN 保护，资料传送时会先加密，系统也会内建反恶意软件的功能。在硬件部分更有物理的加密芯片来保护麦克风和相机等配件。</div>
            <div class="img"><img src="../img/test/dynamic-1.jpg"></div>
        </div>
    </div>
</body>
</html>