<!doctype html>
<html>
<head>
    <title>鲜檬旅拍-动态</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico" />
    <link rel="stylesheet" href="../css/main.css"/>
    <script src="../lib/require.js"></script>
    <script src="../js/web.js"></script>
    <script>
        require(['jquery','js/gobal'],function($,gobal){
            gobal.navdata();
            gobal.setnavhover(1);
            //进入详情
            $('.dynamic-c .tit').click(function(){
                gobal.goUrl('/view/dynamic-d.html?id=12');
            })
        })
    </script>
</head>
<body>
    <div class="navbg">
        <div class="nav">
            <div class="logo"></div>
        </div>
    </div>

    <div class="dynamic-c">
        <div class="group first">
            <div class="tit">鲜檬三亚摄影示范基地投入使用</div>
            <div class="time">2015-12-25</div>
            <div class="cont">鲜檬示范基地主要是向自由摄影师造型师等自由拍摄人员及团队提供拍摄相关的服务，比如专业的化妆间，多功能服务区，后期选片区和婚纱租赁区等</div>
            <div class="img"><img src="../img/app/dynamic-1.jpg"><br>专业的化妆间</div>
            <div class="img"><img src="../img/app/dynamic-2.jpg"><br>多功能服务区</div>
            <div class="img"><img src="../img/app/dynamic-3.jpg"><br>后期选片区</div>
            <div class="img"><img src="../img/app/dynamic-4.jpg"><br>婚纱租赁区</div>
        </div>
    </div>
</body>
</html>