<!doctype html>
<html>
<head>
    <title>鲜檬旅拍-英才招聘</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico" />
    <link rel="stylesheet" href="../css/main.css"/>
    <script src="../lib/require.js"></script>
    <script src="../js/web.js"></script>
    <script>
        require(['jquery','js/gobal'],function($,gobal){
            gobal.navdata();
            gobal.setnavhover(3);
        })
    </script>
</head>
<body>
<div class="navbg">
    <div class="nav">
        <div class="logo"></div>
    </div>
</div>

<div class="aboutAsbg">
    <div class="aboutAs">
        <div class="h1">Join Us</div>
        <div class="line"></div>
        <div class="tit">英才招聘</div>
        <div class="deliver">浏览适合你的职位，鲜檬期待您的加入！请您将简历投递至 <span>info@simoo.cn</span></div>
        <div class="group">
            <div class="dt">
                <div class="h2">运营经理</div>
                <div class="h3">工作地点：广州</div>
            </div>
            <div class="dd">
                <p class="lis">职位描述</p>
                <ol class="lis">
                    <li>参与公司业务规划，协助制定公司中长期战略发展规划、竞争策略等，并负责组织实施、监督、推动战略目标实现。</li>
                    <li>组建和管理团队，负责公司产品的深度运营，以及数据化运营体系的整体规划与执行。</li>
                    <li>在公司经营战略指导下，进行市场调查和反馈，业务方向的综合策划，制定高效可行的用户及活动运营计划，提高用户留存活跃度和活跃率。</li>
                    <li>分析和评估用户数据，收集用户反馈，跟进运营方案实施，改进产品及运营流程，提升用户对产品的认知度及认可度。</li>
                    <li>配合市场部提供的合作渠道提供运营推广方案。</li>
                </ol>
                <p class="lis">任职要求：</p>
                <ol class="lis">
                    <li>全日制重点本科及以上学历，5年以上工作经验，3年以上互联网产品运营经验。</li>
                    <li>精通移动互联网产品的运营，对行业发展趋势有深刻理解，对用户行为、产品运营有深刻理解。</li>
                    <li>有大型互联网公司产品经理相关工作经验或独立负责过重要项目或产品者优先考虑。</li>
                    <li>出众的领导管理才能和良好的商业理念；数据分析能力强，思维逻辑清晰，优秀的沟通表达能力，良好的自我学习及驱动力，责任心强，富有创造性。</li>
                    <li>愿意加入创业团队，能承受较大的工作压力; 具有高度的责任感和自我激励能力，抗压性强。</li>
                </ol>
            </div>
        </div>
        <div class="group">
            <div class="dt">
                <div class="h2">文案策划</div>
                <div class="h3">工作地点：广州</div>
            </div>
            <div class="dd">
                <p class="lis">职位描述</p>
                <ol class="lis">
                    <li>负责企业品牌推广、新闻事件、创意等文案撰写；</li>
                    <li>负责对外媒体新闻及软文供稿，拓展媒体渠道，建立媒体资源，维护媒体关系；</li>
                    <li>负责企业文案、品牌文案、线上线下广告文案及大型活动推广文案的撰写</li>
                </ol>
                <p class="lis">任职要求：</p>
                <ol class="lis">
                    <li>有策划营销方案经验，熟悉各种策划写作形式，有较强的文案及策划功底。能独立进行方案创作</li>
                    <li>具有优秀的创新能力，人际沟通能力，领悟能力，思路新颖开阔，善于表达和感受用户的要求。</li>
                    <li>有互联网公司文案策划经验优先考虑</li>
                </ol>
            </div>
        </div>
        <div class="group">
            <div class="dt">
                <div class="h2">产品经理</div>
                <div class="h3">工作地点：广州</div>
            </div>
            <div class="dd">
                <p class="lis">职位描述</p>
                <ol class="lis">
                    <li>结合市场及用户的需求进行分析，对公司移动互联产品进行策划与设计；</li>
                    <li>负责APP产品前端与后台的功能模块的原型设计、撰写PRD文档；</li>
                    <li>负责移动互联网产品项目开发过程中的协调执行与进度跟踪；</li>
                    <li>协助产品的功能测试、BUG跟踪并反馈、对现有产品的功能改进、用户体验优化等；</li>
                    <li>完成上级领导下发的执行工作任务。</li>
                </ol>
                <p class="lis">任职要求：</p>
                <ol class="lis">
                    <li>大学专科以上学历，3年以上的移动互联网产品策划或IT项目管理工作经验；</li>
                    <li>能够熟练使用Office办公软件输出相关产品开发过程中需提供的文档；</li>
                    <li>会用Axure/ProcessON/ Mindmanager/Visio/PhotoShop等产品设计工具；</li>
                    <li>热爱互联网新鲜事，做事积极，责任心强，具有良好的学习能力与跨部门沟通协调能力；</li>
                    <li>思维活跃，逻辑严谨。了解移动手机APP开发项目优先，熟悉交易、支付平台流程环节优先；</li>
                </ol>
            </div>
        </div>

        <div class="group">
            <div class="dt">
                <div class="h2">Java软件工程师</div>
                <div class="h3">工作地点：广州</div>
            </div>
            <div class="dd">
                <p class="lis">职位描述</p>
                <ol class="lis">
                    <li>负责系统相关模块的设计. 编码. 测试和优化；</li>
                    <li>负责设计和开发文档的编写与维护；</li>
                    <li>对产品功能体验提出改进建议，对技术实现进行持续优化改进。</li>
                </ol>
                <p class="lis">职位要求：</p>
                <ol class="lis">
                    <li>计算机软件或相关专业大学以上学历，具备JAVA项目开发工作经验1年以上；</li>
                    <li>熟练使用springmvc,springdata,jpa,hibernate,mysql等常用开发框架和数据库；</li>
                    <li>熟悉tomcat部署和性能调试；</li>
                    <li>熟悉技术文档的编写，具备良好的文档编制习惯和代码书写规范；</li>
                    <li>思路清晰，善于思考，能独立分析和解决问题；</li>
                    <li>责任心强，具备良好的团队合作精神和承受压力的能力；</li>
                </ol>
            </div>
        </div>

        <div class="group">
            <div class="dt">
                <div class="h2">售前咨询/平台客服</div>
                <div class="h3">工作地点：广州</div>
            </div>
            <div class="dd">
                <p class="lis">职位描述：</p>
                <ol class="lis">
                    <li>大专以上学历。有客户服务工作经验或销售经验、客户服务知识和能力的优先考虑。</li>
                    <li>计算机操作熟练，office办公软件使用熟练，有一定的网络知识基础。</li>
                    <li>要求一定要有“客户为先”的服务精神，一切从帮助客户、满足客户角度出发。</li>
                    <li>性格乐观、积极。普通话标准、流利，反应灵敏。</li>
                    <li>热爱工作，敬业、勤恳，乐于思考，具有自我发展的主观愿望和自我学习能力。</li>
                </ol>
            </div>
        </div>
        <div class="group">
            <div class="dt">
                <div class="h2">APP设计师</div>
                <div class="h3">工作地点：广州</div>
            </div>
            <div class="dd">
                <p class="lis">职位描述</p>
                <ol class="lis">
                    <li>负责网站、移动互联网客户端产品（iOS/Android）的视觉/交互设计</li>
                    <li>负责参与产品市场调研、交互设计及用户体验分析；</li>
                    <li>根据市场推广和新产品设计需求，负责设计新产品高保真原型图等</li>
                    <li>持续优化产品的视觉呈现方式，提升用户的视觉和操作体验</li>
                    <li>跟进开发工程师完成产品开发工作，并解决开发中遇到的相关UI/UE设计问题；</li>
                </ol>
                <p class="lis">职位要求：</p>
                <ol class="lis">
                    <li>学历：广告设计/美术等相关学历，本科以上学历</li>
                    <li>3年以上软件界面设计，有良好的平面设计功底，较好的美学素质，优秀的界面表现能力，内容编排能力,有手机终端应用UI设计经验优先</li>
                    <li>深入掌握交互设计规范、可用性、用户体验、用户研究等相关知识；</li>
                    <li>具有较高的审美观点和敏锐的观察力，具有优秀的美术基础和视觉设计能力，实时把握互联网产品设计的流行趋势</li>
                    <li>可独立完成整个设计过程（产品主视觉/界面/Icon 等高质量UI）</li>
                    <li>有较强的创意能力和活跃的设计思维,同时具备良好的沟通能力和团队合作精神;</li>
                    <li>能够持续接受工作压力和挑战;</li>
                </ol>
            </div>
        </div>
    </div>
</div>
</body>
</html>